<!-- <ul *ngFor="let pin of pins">
    <button (click)=navigateToPinPage(pin) color="primary" mat-raised-button>{{pin.pinNumber}}{{pin.name}}</button>
</ul> -->

<div class="center">
    <div class="pins">
        <div *ngFor="let pin of pins" class="pin ">
            <div class="pinNumber">
                <p>{{pin.wiringPinNumber}} </p>
            </div>

            <a routerLink="/pin/{{pin.headerPinNumber}}" class="{{pinTypeName(pin)}}">
                {{pin.name}}
                <ng-container [ngSwitch]="pinTypeName(pin)">
                    <mat-icon *ngSwitchCase="'threeVolt'">flash_on</mat-icon>
                    <mat-icon *ngSwitchCase="'fiveVolt'">flash_on</mat-icon>
                    <mat-icon *ngSwitchCase="'ground'">center_focus_strong</mat-icon>
                    <mat-icon *ngSwitchCase="'spi'">memory</mat-icon>
                    <mat-icon *ngSwitchCase="'i2c'">memory</mat-icon>
                    <mat-icon *ngSwitchCase="'gpio'">memory</mat-icon>
                </ng-container>
            </a>
            <div class="pinNumber">
                <p>{{pin.headerPinNumber}} </p>
            </div>
        </div>
    </div>
</div>