<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FunctionalSharp.DiscriminatedUnions" version="0.9.1" targetFramework="net45" />
  <package id="FunctionalSharp.OptionTypes" version="0.9.2" targetFramework="net45" />
  <package id="TypescriptGeneration" version="0.5.3" targetFramework="net461" />
</packages>